@import "tailwindcss";

@font-face {
  font-family: 'montserrat';
  src: url('./assets/fonts/Montserrat-ExtraLight.ttf');
}

@font-face {
  font-family: 'montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'montserrat-light';
  src: url('./assets/fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'montserrat-extralight';
  src: url('./assets/fonts/Montserrat-ExtraLight.ttf');
}

@font-face {
  font-family: 'rivage';
  src: url('./assets/fonts/BeauRivage-Regular.ttf');
}

.font-montserrat {
  font-family: 'montserrat', sans-serif;
}

.font-montserrat-light {
  font-family: 'montserrat-light', sans-serif;
}

.font-montserrat-extralight {
  font-family: 'montserrat-extralight', sans-serif;
}

.font-revage {
  font-family: 'rivage', sans-serif;
}

body, body * {
  font-family: 'montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  @apply antialiased; /* For smoother font rendering */
}